body{
	background-color: #111111;
}
.Blackboard {
	margin: 1vh;
	width: 20%;
	height: 20vh;
	background-color: #0A0A0A;
	#box-shadow: 0.3vh 0.3vh #888888;
	box-shadow: 0 0.7vh 2vh 0 rgba(255, 255, 255, 0.7);
	border-radius: 1vh;
	transition: box-shadow .15s;
	
}
.Blackboard:hover {
	box-shadow: 0 0.2vh 0.7vh 0 rgba(255, 255, 255, 0.7);
}
.BlackboardContainer {
	width: 100%;
	height: 80vh;
	#background-color: #888811;
    display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	
}
.blackboardHeader {
	font-size: 4vh;
	border-radius: 1vh;
	text-align: center;
	color: #F81919 ;
	padding: 0.5vh;
	
}

.blackboardText {
	font-size: 2vh;
	border-radius: 1vh;
	color: #F81919 ;
	padding: 0.5vh;
}

.Titel {
	text-align: center;
	color: #F81919;
	font-size: 10vh;
}
.Add {
	position:absolute;
    bottom:0;
    right:0;
	margin-right:2vh;
	margin-bottom: 1.5vh;
}

.Add:hover {
	transform: scale(1.1);
	
}
